<div class='container'>
	<div class='row'>
		<div class='c6 o3'>
			<h1>You are in the Main!</h1>
			<p>Hello main</p>
			<div class='users'>
				<% @allUsers.each do | person | %>
				<div class='person'>
					<h4>User</h4>
					<p><%=person.username%></p>
					<p><%=person.email%></p>
					<p>Admin? <%=person.admin%></p>
				</div>
				<% end %>
			</div>
		</div>
	</row>
	<div class='row'>
		<div class='c6 o3'>
			<div class='top text-center'>
				<h1 class='display-inline-block'>Create New User</h1>
			</div>
			<div class='c6 o3 margin-top margin-bottom'>
				<form action='/users/create' method='post'>
					<h4 class='form-header text-center'>User Information</h4>
					<h5 class='form-text padding-left color-gray'>Username</h5>
					<label>
						<input class='hundred' type='text' name='user[username]' placeholder='First Name' />
					</label>
					<h5 class='form-text padding-left color-gray'>Password</h5>
					<label>
						<input class='hundred' type='text' name='user[password]' placeholder='Password' />
					</label>
					<h5 class='form-text padding-left color-gray'>Email</h5>
					<label>
						<input class='hundred' type='text' name='user[email]' placeholder='Email' />
					</label>
					<label>
						<input class='hundred' type='submit' value='Create' />
					</label>
					<%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
				</form>
			</div>
		</div>
	</div>
</div>
