<div class='container'>
	<div class='row'>
		<div class='c4 o4 text-center'>
			<h1>Posting Wall</h1>
			<% if flash[:errors] %>
				<% flash[:errors].each do |err| %>
					<p><%=  err[0] + ' ' %>
						<%  part = err[1] %>
						<%= part[0] + '. ' %> 
					</p>
				<% end %>
			<% end %>
		</div>
	<div class='row form-row margin-top'>
		<div class='c4 o4'>
			<button id='login' class='login-button button-border bg-color-blue c6 color-white'>Login</button>
			<button id='register' class='reg-button button-border bg-color-blue c6 color-white '>Register</button>
			<div class='margin-top margin-bottom form-switch'>
				<form class='loginform' action='/users/login' method='post'>
					<input type='text' name='returnUser[username]' placeholder='Username' />
					<input type='text' name='returnUser[password]' placeholder='Password' />
					<input type='submit' value='Login' />
					<%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
				</form>
			</div>
		</div>
	</div>
</div>
