
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/*** CSS GLOBAL RESETS ***/
/* BEGIN CSS RESETS --> */
html {
  	-webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-size: 1em;
}
* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 1em;
	font: inherit;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
/*	font-family: "Trebuchet MS", Helvetica, sans-serif;*/
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	vertical-align: baseline;
}
ol, ul {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* <-- END GLOBAL RESETS */

/*** GRID SYSTEM ***/
/* Begin GRID SYSTEM --> */
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
	.row {
		clear: both;
	 	margin-right: -15px;
	  	margin-left: -15px;
	  	display: block;
	}
	.c1, .c2, .c3, .c4, .c5, .c6, .c7, .c8, .c9, .c10, .c11, .c12 {
	    float: left;
	}	/* float all columns left */
		.c1 { width: 8.33333333%; }
		.c2 { width: 16.66666667%; }
		.c3 { width: 25%; }
		.c4 { width: 33.33333333%; }
		.c5 { width: 41.66666667%; }
		.c6 { width: 50%; }
		.c7 { width: 58.33333333%; }
		.c8 { width: 66.66666667%; }
		.c9 { width: 75%; }
		.c10 { width: 83.33333333%; }
		.c11 { width: 91.66666667%; }
		.c12 { width: 100%; }
		.o1 { margin-left: 8.33333333%; }
		.o2 { margin-left: 16.66666667%; }
		.o3 { margin-left: 25%; }
		.o4 { margin-left: 33.33333333%; }
		.o5 { margin-left: 41.66666667%; }
		.o6 { margin-left: 50%; }
		.o7 { margin-left: 58.33333333%; }
		.o8 { margin-left: 66.66666667%; }
		.o9 { margin-left: 75%; }
		.o10 { margin-left: 83.33333333%; }
		.o11 { margin-left: 91.66666667%; }
		.o12 { margin-left: 100%; }
/* <-- End GRID System */

/*** General fixes/adjustments ***/
/* TABLE ADJUSTMENTS BEGIN --> */
table {
		height: 100%;
		width: 100%;
	    border-collapse:separate;
	    border: solid #ccc .1em;
	    border-radius: .5em;
	    overflow: hidden;
	}
	table tr:nth-child(2n){
		background-color: RGB(245, 245, 245);
	}
	table th {
	  	padding-left: 1em;
	  	text-align: left;
		font-size: 1em;
		background-color: RGB(240, 240, 240);
		border-top: none;
		border-right: .1em solid RGB(181, 181, 181);
		border-bottom: .1em solid RGB(181, 181, 181);
	}
	table th:first-child {
		border-left: none;
	}
	table th:last-child {
		border-right: none;
	}
	table td {
		padding: .5em 1em .5em 1em;
		border-right: .1em solid RGB(240, 240, 240);
		border-bottom: .1em solid RGB(240, 240, 240);;
	}
	table td:first-child {
		border-left: .1em solid RGB(240, 240, 240);
	}
/* <-- END TABLE ADJUSTMENTS */
/* FORM ADJUSTMENTS BEGIN --> */
form {
	width: 100%;
	padding-top: 1em;
	padding-bottom: 1em;
	text-align: left;
/*	border: solid #ccc .1em;*/
	border-bottom-left-radius: .5em;
	border-bottom-right-radius: .5em;
	background-color: RGB(216, 224, 230);
	overflow: hidden;
}
	label {
/*		padding: 1em;*/
		margin-bottom: 1em;
		margin-left: 2em;
		margin-right: 2em;
		display: block;
	}
	input {
		padding-top: .4em;
		padding-bottom: .4em;
		border-radius: .4em;
		background-color: RGB(245, 245, 245);
	}
		input[type="text"]{
			/*border: 1px solid RGB(204, 204, 204);*/
			border: 1px solid RGB(128, 128, 128);
			text-align: center;
		}
		input[type="textarea"]{
			border: 1px solid RGB(128, 128, 128);
		}
		input[type="submit"]{
			color: white;
			/*background-color: RGB(88, 125, 155);*/
/*			background-color: RGB(228, 95, 86);*/
			background-color: RGB(99, 140, 166);
			/* border: 1px solid RGB(60, 86, 107);*/
			border: 1px solid RGB(53, 64, 79);
		}
	.btn {
		padding: 1em;
		border: 1px solid black;
		border-radius: 1em;
		font: inherit;
	}
	.link {
		display: inline-block;
		text-decoration: none;
		color: RGB(77, 175, 224);
		border: none;
		background-color: inherit;
		padding: 0em;
		width: auto;
		text-align: inherit;
	}
	select{
		border: 1px solid gray;
		border-radius: .3em;
	}
/* <-- END FORM ADJUSTMENTS */
/* OTHER ADJUSTMENTS BEGIN --> */
	/* RESETS */
	#form-reset, #form-reset * {
		background: none;
		padding: 0;
		font: inherit;
		border: none;
		text-decoration: none;
		color: RGB(77, 175, 224);
	}
	/*	SPACING */
	.padding-top { padding-top: 1em }
	.padding-right { padding-right: 1em }
	.padding-bottom { padding-bottom: 1em }
	.padding-left { padding-left: 1em }
	.margin-top { margin-top: 1em }
	.margin-right { margin-right: 1em }
	.margin-bottom { margin-bottom: 1em }
	.margin-left { margin-left: 1em }
	.margin-auto { margin: auto }
	.display-inline-block { display: inline-block;}
	#no-background{ background: none }
	#no-padding{ padding: 0 }
	#no-margin{ margin: 0 }
	.hundred { width: 100%; }
	/* TEXT */
	a { text-decoration: none;
		color: RGB(77, 175, 224) }
	.text-center { text-align: center }
	.text-right { text-align: right }
	.text-left { text-align: left }
	h1 { font-size: 4em }
	h2 { font-size: 3em }
	h3 { font-size: 2em }
	h4 { font-size: 1em }
	p { font-size: .8em }
	/* Border/Outlines */
	.border {
		padding: 1em;
		border: 2px solid gray;
		border-radius: .3em;
	}
	#no-border { border: none }
	/* colors */
	.color-gray {
		color: RGB(99, 108, 106);
	}
	.color-white {
		color: white;
	}
	.bg-color-blue {
		background-color: RGB(66, 95, 118);
	}
	.bg-color-gray {
		background-color: RGB(204, 204, 204);
	}
	.bg-color-lightgray {
		background-color: RGB(213, 218, 234);
	}
	.form-header {
		padding-top: 1em;
		padding-bottom: 1em;
		margin-bottom: 1em;
		background-color: RGB(66, 95, 118);
		color: white;
	}
	.form-text {
		margin-left: 2em;
	}
/* <-- END OTHER ADJUSTMENTS */